## .NET & Visual Studio
bin/
obj/
[Ll]og/
[Ll]ogs/
*.log
*.user
*.suo
*.DotSettings.user
.vs/
.idea/
.vscode/
*.db
*.sqlite
*.mdf
*.ldf
*.ndf
*.pdb
*.dbmdl
*.jfm
*.pfx
*.publishsettings
publish/
AppPackages/
BundleArtifacts/
_Pvt_Extensions/
*.appx
*.appxbundle
*.appxupload
*.vspscc
*.vssscc
*.sln.docstates
*.ntvs_analysis.dat
node_modules/
packages/
TestResults/
*.vsix
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
project.lock.json
project.fragment.lock.json
artifacts/
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml
*.builds
*.pidb
*.svclog
*.cache
*.pdb
*.scc
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
*.log
*.tlog

## dotenv, secrets, configs
.env
appsettings.json
appsettings.*.json
secrets.json

## Rider & JetBrains
.idea/
*.sln.iml

## Mac
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Publish output
publish/
